.login {
  h1 {
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 2em;
    background-color: #191C1F;

    input {
      margin: 0.5em 0;
      padding: 0.5em;
    }

    button {
      margin: 0.4em 0;
      padding: 0.5em;
      border: none;
      background-color: #FF424F;
      color: #eeeeee;
    }
  }
}

@media (min-width: 35em) {
  .login {
    margin: 1em;
  }
}