.movie {
  min-height: 100vh;
  position: relative;

  &--loading {
    position: absolute;
      z-index: 100;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.7); 
  }

  &__loading {
    position: absolute;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  button {
    width: 100%;
    height: 3em;
    margin: 0;
    padding: 0.5em 1em;
    background: #191C1F;
    color: #eee;
    border: 1px solid #222B31;

    &:focus {
      outline: 0;
    }

    &:active {
      background-color: #222B31;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
  
  &__background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 30em;
    margin: 0em;
    background-size: cover;
  }

  &__info {
    width: 100%;
    height: 100%;
    padding: 1em;
    background-color: rgba(0,0,0,0.7);
  }
}
